form action="/login" method="post" 
        input type="text" name="user" placeholder="Enter Username"
        input type="password" name="pwd" placeholder="Enter Password"
        input type="submit" value="Login"/