form action="login" method="post" 
        input type="text" name="username" placeholder="Enter Username"
        input type="password" name="password" placeholder="Enter Possword"
        input type="submit" value="Laugin"/