form action="/auction/#{result['Id']}/new" method="post"
    input type="text" name="name" placeholder="NFT name" 
    input type="text" name="token" placeholder="NFT token"
    input type="submit" value="Add" 